.fieldset {
  appearance: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.track {
  display: inline-grid;
  grid-auto-flow: column;
  --buttons-gap: 0.75rem;
  --buttons-padding: 0.5rem;
  gap: var(--buttons-gap);
  padding: var(--buttons-padding);
  border-radius: var(--radius-full);
  position: relative;
  background-color: var(--color-track);
}

.button,
.handle {
  border-radius: var(--radius-full);
  line-height: 1.2;
  font-weight: 500;
  white-space: nowrap;

  .small & {
    font-size: var(--font-size-sm);
    height: var(--button-small-height);
    padding-inline: 1rem;

    @media (min-width: 1800px) {
      font-size: var(--font-size-base);
    }
  }

  .large & {
    font-size: var(--font-size-sm);
    height: var(--button-large-height);
    padding-inline: 1.5rem;
    padding-block: 0.75rem;

    @media (min-width: 1800px) {
      font-size: var(--font-size-base);
    }
  }
}

.button {
  cursor: pointer;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-darknight-900);
}

.button:hover,
.button:has(.input:focus-visible) {
  outline: 2px solid var(--color-primary-300);
  outline-offset: 3px;
}

.handle {
  background-color: var(--button-background-color);
  position: absolute;
  width: var(--handle-width);
  top: var(--buttons-padding);
  bottom: var(--buttons-padding);
  left: var(--handle-left, var(--buttons-padding));
  transition: left 0.75s var(--ease-out-back), width 0.75s var(--ease-out-back);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-darknight-900);
}

.label {
  position: relative;
}

.input {
  appearance: none;
}
