.link {
  align-items: center;
  background: transparent;
  border-radius: var(--radius-base);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-sm);
  font-weight: 500;
  height: 2.25rem;
  justify-content: center;
  line-height: 1.2;
  padding-inline: 1rem;
  text-decoration: none;

  @media (min-width: 2400px) {
    font-size: var(--font-size-base);
  }

  &:hover,
  &:focus-visible {
    background: var(--color-grayscale-300);
  }

  &:focus-visible {
    outline: 2px solid var(--color-outline);
    outline-offset: 2px;
  }

  &.isActive {
    color: var(--color-white);
    background: linear-gradient(130deg, #034255 1.24%, #6ce6ad 99.91%);
  }
}
