.link {
  align-items: center;
  color: currentColor;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  line-height: 1.2;
  position: relative;
  text-decoration: none;
  transition: border-bottom 0.25s var(--ease-out-quart);
  white-space: nowrap;

  &.sm {
    gap: 0.65rem;
    font-size: var(--font-size-sm);
    position: relative;
    top: 2px;

    @media (min-width: 1800px) {
      font-size: var(--font-size-base);
    }
  }

  &.lg {
    gap: 1rem;
    font-size: var(--font-size-base);

    @media (min-width: 1800px) {
      font-size: var(--font-size-md);
    }
  }
}

.label {
  padding-inline: 1rem;
  opacity: 0.5;

  .isActive & {
    opacity: 1;
  }
}

.bullet {
  border: 2px solid currentColor;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  opacity: 0.5;

  .isActive & {
    opacity: 1;
    background-color: currentColor;
  }

  .sm & {
    width: 0.5rem;
    height: 0.5rem;
  }

  .lg & {
    width: 0.75rem;
    height: 0.75rem;
  }
}

li:first-child .line {
  width: 50%;
}

li:last-child .line {
  width: 50%;
}

.lineBefore,
.lineAfter {
  height: 2px;
  background-color: currentColor;
  opacity: 0.5;
  width: 100%;
}

.progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
}

li:first-child .lineBefore {
  opacity: 0;
}

li:last-child .lineAfter {
  opacity: 0;
}
