.centerAligned {
  text-align: center;
}

.h2 {
  font-size: var(--font-size-3xl);
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 4rem;
  font-weight: 600;
  text-align: center;
  text-wrap: balance;
}
