.nav {
  --padding-x: 1rem;
  --padding-y: 1rem;
  align-items: center;
  border-radius: var(--radius-full);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  width: calc(100% - var(--page-padding-inline) * 2);
  max-width: var(--max-width);
  position: fixed;
  left: 50%;
  top: var(--navbar-top);
  transform: translateX(-50%) translateY(0);
  transition: transform 0.2s var(--ease-out-quart);
  z-index: var(--z-index-navigation);
  background-color: var(--color-grayscale-900);
  backdrop-filter: blur(20px);
  background: rgba(1, 32, 54, 0.65);
  box-shadow: 0px 16px 24px -14px rgba(0, 0, 0, 0.12);

  &.isScrolled {
    transform: translateX(-50%) translateY(calc(-100% - var(--navbar-top)));
  }
}

.logoLink {
  display: inline-flex;
  border-radius: var(--radius-full);
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  height: var(--button-small-height);
  margin-block: var(--padding-y);
  margin-left: var(--padding-x);
  align-items: center;
  position: relative;
  top: -1px;
  height: 1.25rem;
  width: auto;
  color: var(--color-white);

  &:focus-visible {
    outline: 1px solid var(--color-white);
    outline-offset: -2px;
  }
}

.logo {
  width: auto;
  height: 1.125rem;

  @media (min-width: 2400px) {
    height: 1.25rem;
  }
}

.links {
  display: flex;
  gap: 2rem;
  align-items: baseline;
  list-style: none;
  font-weight: 600;
  line-height: 1.2;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  margin-inline: 3rem;
}

.authLinks {
  gap: 1rem;
  align-items: baseline;
  list-style: none;
  font-weight: 500;
  line-height: 1.2;
  font-size: var(--font-size-sm);
  letter-spacing: -0.02em;
  padding: var(--padding-y) var(--padding-x);
  display: none;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.secondaryLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-left: auto;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  background-color: transparent;
  border: none;
  height: var(--button-small-height);
  width: var(--button-small-height);
  border-radius: var(--radius-full);
  align-self: center;
  justify-self: flex-end;

  &:focus-visible {
    outline: 1px solid var(--color-white);
    outline-offset: 2px;
  }
}

.searchIcon {
  width: 1rem;
  height: 1rem;
}
