.nav {
  --padding-x: 1rem;
  --padding-y: 1rem;
  align-items: center;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: var(--radius-full);
  color: var(--color-white);
  display: flex;
  max-width: minmax(
    calc(100dvw - (var(--page-padding-inline) * 2)),
    var(--max-width)
  );
  position: fixed;
  left: 50%;
  top: var(--navbar-top);
  transform: translateX(-50%);
  transition: background-color 0.125s var(--ease-out-quart),
    box-shadow 0.125s var(--ease-out-quart);
  z-index: var(--z-index-header);

  &.isScrolled {
    color: var(--color-text-black);
    box-shadow: none;
    border-radius: var(--Numbers-border-radius-border-radius-round, 80px);
    background: rgba(248, 248, 248, 0.75);
    box-shadow: 0px 16px 24px -14px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(25px);
  }
}

.logoMask {
  display: grid;
  height: 100%;
  align-items: center;
  overflow: clip;
}

.logoContainer {
  padding: var(--padding-y) var(--padding-x);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  align-items: center;
  transition: transform 0.5s var(--ease-out-back);

  .isScrolled & {
    transform: translateY(-100%);
  }
}

.logoLink {
  display: inline-flex;
  border-radius: var(--radius-full);
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  height: var(--button-small-height);
  align-items: center;

  &:focus-visible {
    outline: 1px solid var(--color-white);
    outline-offset: 2px;
  }
}

.logo {
  height: 1.25rem;
  width: auto;
  position: relative;
  top: -1px;
}

.links {
  display: flex;
  gap: 2rem;
  align-items: baseline;
  list-style: none;
  font-weight: 600;
  line-height: 1.2;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
}

.authLinks {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  list-style: none;
  font-weight: 500;
  line-height: 1.2;
  font-size: var(--font-size-sm);
  letter-spacing: -0.02em;
  padding: var(--padding-y) var(--padding-x);
}

.productLinks {
  display: flex;
  align-items: baseline;
  list-style: none;
  font-weight: 500;
  line-height: 1.2;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
}

.mask {
  display: grid;
  height: 100%;
  overflow: clip;
  align-items: baseline;
  justify-content: start;
  margin-left: auto;
  margin-right: auto;
}

.primaryNav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--padding-y);
  transition: transform 0.5s var(--ease-out-back);

  .isScrolled & {
    transform: translateY(-100%);
  }
}

.progress {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  transform: translateY(100%);
  transition: transform 0.5s var(--ease-out-back);
  align-items: center;

  .isScrolled & {
    transform: translateY(0%);
  }
}

.pageName {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-block: var(--padding-y);
  padding-inline: var(--padding-x);
  font-size: var(--font-size-base);
  line-height: 1.2;
  font-weight: 550;
  transform: translateY(100%);
  transition: transform 0.5s var(--ease-out-back);
  padding-inline: 2rem;

  .isScrolled & {
    transform: translateY(0%);
  }
}

.toggleMask {
  height: 100%;
  display: grid;
  align-self: flex-start;
  overflow: clip;
  padding-inline: 1px;
}

.toggleContainer {
  height: 100%;
  display: flex;
  transform: translateY(100%);
  transition: transform 0.5s var(--ease-out-back);
  align-items: center;

  .isScrolled & {
    transform: translateY(0%);
  }
}

.contents {
  display: contents;
}

.divider {
  width: 2rem;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  background-color: transparent;
  border: none;
  height: var(--button-small-height);
  width: var(--button-small-height);
  border-radius: var(--radius-full);
  align-self: center;

  &:focus-visible {
    outline: 1px solid var(--color-white);
    outline-offset: 2px;
  }
}

.searchIcon {
  width: 1rem;
  height: 1rem;
}
