.mandatory {
  color: var(--color-text-muted);
  font-size: var(--font-size-xs);
  font-weight: 500;
}

.table {
  grid-template-columns: auto 1fr;

  tr {
    grid-column: span 2;
  }
}

.code {
  margin-block: 2em;
}

.tag {
  margin-bottom: 0.5em;
}
