.root {
  color: var(--color-black);
}

.container {
  padding-block: var(--page-section-gap-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--page-section-gap-base);
  border-radius: 64px;
  background: #f0fbff;
}

.narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--page-section-gap-base);
}

.heading {
  text-align: center;
}
