.root {
  width: 100dvw;

  display: grid;
  grid-template-columns: 1fr 1fr;
  position: sticky;
  top: 0;
  color: var(--color-white);
}

.h2 {
  font-size: var(--font-size-2xl);
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 1em;
  font-weight: 600;
  text-align: center;
  scroll-margin-top: var(--scroll-margin-top);

  @media (min-width: 1800px) {
    font-size: var(--font-size-3xl);
  }
}

.paragraph {
  font-size: var(--font-size-base);
  line-height: 1.8;
  margin-block: 1em;
  text-wrap: pretty;

  @media (min-width: 1800px) {
    font-size: var(--font-size-md);
  }
}

.left {
  background-color: #e6f3f6;
  color: var(--color-black);
}

.timeline {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--scroll-margin-top);
  padding-bottom: 8rem;
  align-items: center;
  gap: 4px;
}

.right {
  background-color: #012036;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.header {
  padding: 8rem;
}

.divider {
  width: 2px;
  height: 2rem;
  background-color: var(--color-white);
  opacity: 0.2;
}
