.heading {
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-weight: 600;
  text-wrap: balance;
  scroll-margin-top: var(--scroll-margin-top);
  scroll-behavior: smooth;
}

.lg {
  font-size: var(--font-size-sm);

  @media (min-width: 2400px) {
    font-size: var(--font-size-base);
  }

  @media (min-width: 2400px) {
    font-size: var(--font-size-lg);
  }
}

.xl {
  font-size: var(--font-size-base);

  @media (min-width: 1024px) {
    font-size: var(--font-size-md);
  }

  @media (min-width: 2400px) {
    font-size: var(--font-size-xl);
  }
}

.xxl {
  font-size: var(--font-size-lg);

  @media (min-width: 1024px) {
    font-size: var(--font-size-2xl);
  }

  @media (min-width: 2400px) {
    font-size: var(--font-size-3xl);
  }
}
