.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: var(--radius-base);
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  position-anchor: --navigation-menu-toggle;
  position: absolute;
  left: anchor(left);
  top: anchor(bottom);
  white-space: nowrap;
  text-align: left;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.2s var(--ease-out-quart),
    transform 0.2s var(--ease-out-back);
  pointer-events: none;
  transform: translateY(-0.25rem) scale(0.9);
  transform-origin: top center;

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0) scale(1);
  }
}
