.root {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 4rem;
}

.divider {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(226, 232, 255, 0.12),
    transparent
  );
  height: 1px;
  border: none;
  margin-bottom: 4rem;
}

.logo {
  width: auto;
  height: 1rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 4rem;
  margin-bottom: 4rem;
}

.legal {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.legalLinks {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem;
  list-style: none;
}

.legalLink {
  color: var(--color-acidlemon-500);
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  text-underline-offset: 0.25rem;

  &:hover {
    color: var(--color-acidlemon-400);
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 1px solid var(--color-acidlemon-400);
    outline-offset: 2px;
  }
}

.legalText {
  color: var(--color-gray-300);
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 1.2;
}

.sectionTitle {
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--color-gray-300);
}

.sectionLinks {
  list-style: none;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sectionLink {
  color: var(--color-acidlemon-500);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  text-underline-offset: 0.25rem;

  &:hover {
    color: var(--color-acidlemon-400);
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 1px solid var(--color-acidlemon-400);
    outline-offset: 2px;
  }
}
