.table {
  display: grid;
  margin-bottom: 2rem;
  border-radius: var(--radius-base);
  border: 1px solid var(--color-border);
  font-size: var(--font-size-sm);
  line-height: 1.8;
  margin-block: 2em;
  text-wrap: pretty;
  grid-template-columns: min-content 2fr;

  @media (min-width: 1024px) {
    font-size: var(--font-size-base);
  }

  @media (min-width: 2400px) {
    font-size: var(--font-size-md);
  }

  tbody {
    display: contents;
  }

  tr {
    display: grid;
    grid-template-columns: subgrid;
    align-items: baseline;
    justify-content: start;
    border-top: 1px solid var(--color-border);
    padding-block: 1rem;
    text-align: left;
    width: 100%;

    &:first-child {
      border-top: none;
    }
  }

  th,
  td {
    padding-inline: 1em;
  }

  th {
    font-weight: 450;
  }
}
