.root {
  display: flex;
  align-items: center;
  justify-content: center;

  &.small {
    --size: 0.5rem;
  }

  &.large {
    --size: 0.75rem;
  }
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--color-border-50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid var(--color-border-50);
  // background-color: var(--color-lapis-900);
  z-index: 1;
  width: var(--size);
  height: var(--size);
}

.before {
  margin-left: calc(var(--size) * -0.5);
}

.after {
  margin-right: calc(var(--size) * -0.5);
}

.triangle {
  width: calc(var(--size) * 1);
  height: calc(var(--size) * 1);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  background-color: var(--color-border-50);
}
