.h4 {
  font-size: var(--font-size-lg);
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: left;
  text-wrap: balance;
  scroll-margin-top: var(--scroll-margin-top);
}

.table {
  grid-auto-columns: auto;
  grid-template-columns: unset;

  tr {
    grid-column: unset;
  }
}

.code {
  margin-bottom: 2rem;
}

.eyebrow {
  margin-bottom: 0.5rem;
}
