.root {
  transform-origin: bottom center;
  z-index: 1;
  position: relative;
}

.page {
  background-color: var(--color-white);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding-bottom: var(--page-padding-y);
  display: flex;
  flex-direction: column;
  gap: var(--page-section-gap-base);
}

.contents {
  display: flex;
  flex-direction: column;
  gap: var(--page-section-gap-small);
}

.narrow {
  display: flex;
  flex-direction: column;
  gap: var(--page-section-gap-base);
}

.aside {
  display: none;
  grid-row: 1/2;

  @media (min-width: 1280px) {
    display: block;
    grid-column: 1/4;
  }
}

.sticky {
  position: sticky;
  top: var(--scroll-margin-top);
}

.debug {
  position: fixed;
  bottom: 4rem;
  font-size: var(--font-size-xs);
  left: 1rem;
  border-radius: var(--radius-base);
  z-index: 100;
  width: max-content;
  height: max-content;
  padding: 1rem;
  background-color: var(--color-primary-900);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.h2 {
  margin-bottom: 1em;
}

.howItWorks {
  margin-bottom: var(--grid-gap-sm);
}
