.container {
  max-width: 1280px;
  display: grid;
  grid-template-columns: max-content 3fr max-content;
  gap: 2rem;
  margin: 0 auto;
  padding-top: 8rem;
}

.aside {
}

.toggleAside {
  order: 3;
}

.lead {
  font-size: var(--font-size-lg);
}

.article {
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 6rem;
  margin: 0 auto;
  width: 100%;
  display: grid;
}

.h1 {
  font-size: var(--font-size-5xl);
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
  font-weight: 600;
  background-image: linear-gradient(
    180deg,
    var(--color-acidlemon-500) 0%,
    var(--color-acidlemon-600) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h2 {
  font-size: var(--font-size-2xl);
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: center;
}

.toggle {
  margin-bottom: 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  grid-column: span 12;
}

.section {
  grid-column-start: 3;
  grid-column-end: 11;
  display: grid;
}

.cards {
  grid-column: span 12;
}

.fullWidth {
  grid-column: span 12;
}

.lead {
  font-size: var(--font-size-md);
  line-height: 1.6;
  margin-bottom: 2rem;
  text-wrap: pretty;
}

.paragraph {
  font-size: var(--font-size-md);
  line-height: 1.8;
  margin-bottom: 2rem;
  text-wrap: pretty;
}

.h3 {
  font-size: var(--font-size-xl);
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
  font-weight: 600;
}

.paragraph + .h3 {
  margin-top: 4rem;
}