.sidebarMenuSubItem {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.lineContainer {
  width: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.line {
  display: block;
  height: 100%;
  width: 1px;
  background-color: var(--color-border);
}
