.root {
  border-radius: var(--radius-full);
  display: inline-flex;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  padding-inline: 0.75em;
  padding-block: 0.375em;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: currentColor;
  background-color: var(--color-grayscale-200);
  font-size: var(--font-size-2xs);
}
