.nav {
  display: flex;
  align-items: baseline;
  border: 1px solid var(--color-border-20);
  background-color: var(--card-background-color);
  
  border-radius: 3rem;
  padding: 1.5rem;
  color: var(--color-white);
  backdrop-filter: blur(8px);
  justify-content: space-between;
}

.logo {
  align-self: center;
  height: 1.25rem;
  width: auto;
}

.links {
  display: flex;
  gap: 2rem;
  align-items: baseline;
  list-style: none;
  font-weight: 500;
  line-height: 1.2;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
}

.authLinks {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  list-style: none;
  font-weight: 500;
  line-height: 1.2;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
}
