.header {
  background: var(--color-darknight-800);
  padding-bottom: var(--page-padding-y);
  padding-top: calc(
    var(--navbar-top) + var(--nav-height, 90px) + var(--page-padding-y)
  );
  color: var(--color-white);
  position: relative;
  overflow: clip;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: var(--page-padding-y);
}

.globe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.h1 {
  font-size: var(--font-size-2xl);
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-weight: 550;
  text-align: center;

  @media (min-width: 1024px) {
    font-size: var(--font-size-4xl);
  }

  @media (min-width: 1440px) {
    font-size: var(--font-size-5xl);
  }

  @media (min-width: 2400px) {
    font-size: var(--font-size-6xl);
  }
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0.25rem;
  padding-block: 1rem;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-inline: var(--page-padding-inline);
  margin-inline: auto;
  justify-content: center;
  position: relative;

  @media (min-width: 1024px) {
    gap: 1.5rem;
  }
}

.dividerLine {
  width: 2rem;
  height: 4px;
  color: var(--color-primary-300);
  background-image: radial-gradient(circle, currentColor 2px, transparent 2px);
  background-position: left bottom;
  background-size: 12px 4px;
  background-repeat: repeat-x;

  @media (min-width: 1024px) {
    width: 4rem;
  }
}

.divider {
  display: flex;
  align-items: center;
}

.dividerIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: -0.25rem;
  color: var(--color-primary-300);

  @media (min-width: 1024px) {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}

.headingContainer {
  position: relative;
  margin-bottom: 2rem;

  @media (min-width: 1024px) {
    margin-bottom: 4rem;
  }
}
