.header {
  background: var(--color-darknight-800);
  padding-bottom: var(--page-padding-y);
  padding-top: calc(
    var(--navbar-top) + var(--nav-height, 90px) + var(--page-padding-y)
  );
  color: var(--color-white);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  grid-column: span 12;
  gap: 4rem;
}

.h1 {
  font-size: var(--font-size-5xl);
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-weight: 600;
}
