.paragraph {
  text-wrap: pretty;
  margin: 0;

  @media (min-width: 1024px) {
    font-size: var(--font-size-base);
  }

  @media (min-width: 2400px) {
    font-size: var(--font-size-md);
  }
}

.xs {
  line-height: 1.6;
  font-size: var(--font-size-2xs);

  @media (min-width: 1024px) {
    font-size: var(--font-size-sm);
  }

  @media (min-width: 2400px) {
    font-size: var(--font-size-sm);
  }

  h1 + &,
  h2 + &,
  h3 + &,
  h4 + &,
  h5 + & {
    margin-top: 0.75em;
  }

  .paragraph + & {
    margin-top: 0.75em;
  }
}

.sm {
  line-height: 1.6;
  font-size: var(--font-size-xs);

  @media (min-width: 1024px) {
    font-size: var(--font-size-sm);
  }

  @media (min-width: 2400px) {
    font-size: var(--font-size-base);
  }

  h1 + &,
  h2 + &,
  h3 + &,
  h4 + &,
  h5 + & {
    margin-top: 0.75em;
  }

  .paragraph + & {
    margin-top: 0.7em;
  }
}

.lg {
  line-height: 1.8;
  font-size: var(--font-size-sm);

  @media (min-width: 1024px) {
    font-size: var(--font-size-base);
  }

  @media (min-width: 2400px) {
    font-size: var(--font-size-md);
  }

  h1 + &,
  h2 + &,
  h3 + &,
  h4 + &,
  h5 + & {
    margin-top: 1em;
  }

  .paragraph + & {
    margin-top: 1em;
  }
}
