.h4 {
  font-size: var(--font-size-lg);
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: left;
  text-wrap: balance;
  scroll-margin-top: var(--scroll-margin-top);
}

.code {
  margin-block: 2em;
}

.eyebrow {
  margin-bottom: 0.5rem;
}

.notice {
  margin-block: 1.5em;
}

.table {
  grid-template-columns: auto 1fr;

  tr {
    grid-column: span 2;
  }
}
