.h4 {
  font-size: var(--font-size-lg);
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: left;
  text-wrap: balance;
  scroll-margin-top: var(--scroll-margin-top);
}

.table {
  display: grid;
  margin-bottom: 2rem;
  border-radius: var(--radius-base);
  border: 1px solid var(--color-border);

  tbody {
    display: contents;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: baseline;
    justify-content: start;
    border-top: 1px solid var(--color-border);
    padding-block: 1rem;
    text-align: left;
    width: 100%;

    &:first-child {
      border-top: none;
    }
  }

  th,
  td {
    padding-inline: 1rem;
  }
}

.code {
  margin-bottom: 2rem;
}

.eyebrow {
  margin-bottom: 0.5rem;
}
