.root {
  border-radius: var(--radius-base);
  background-color: var(--card-background-color);
  padding: 2rem;
  height: 100%;
  transition: transform 0.2s var(--ease-out-quart),
    outline-color 0.2s var(--ease-out-quart);
  display: flex;
  flex-direction: column;
  outline: 2px solid;
  outline-color: transparent;
  outline-offset: 2px;

  &:hover:not(.active) {
    transform: scale(1.025);
  }

  &:hover:not(.active) {
    outline-color: var(--color-text-link);
  }
}

.quote {
  font-size: var(--font-size-sm);
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-wrap: pretty;
  margin-bottom: 1rem;

  @media (min-width: 2400px) {
    font-size: var(--font-size-base);
  }
}

.logo {
  --logo-size: 4rem;
  width: var(--logo-size);
  height: var(--logo-size);
  border: 1px solid;
  border-color: var(--color-border-20);
  margin-bottom: calc(var(--logo-size) / 4);

  @media (min-width: 2400px) {
    --logo-size: 6rem;
  }
}

.attribution {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  @media (min-width: 2400px) {
    gap: 0.5rem;
  }
}

.name {
  font-weight: 500;
  line-height: 1.2;
  font-size: var(--font-size-sm);

  @media (min-width: 2400px) {
    font-size: var(--font-size-base);
  }
}

.role {
  font-weight: 500;
  font-size: var(--font-size-xs);
  line-height: 1.2;
  color: var(--color-text-muted);

  @media (min-width: 2400px) {
    font-size: var(--font-size-sm);
  }
}
