.icon {
  width: 1rem;
  height: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: var(--radius-base);
  border: 1px solid var(--border-color);
  font-weight: 500;
  font-size: var(--font-size-base);
  padding-block: 1rem;
  padding-inline: 0.75rem;
  background-color: transparent;
  cursor: pointer;
  anchor-name: --popover-toggle;

  &:hover {
    background-color: var(--color-grayscale-100);
  }
}

.popover {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: var(--radius-base);
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  position-anchor: --popover-toggle;
  position: absolute;
  left: anchor(left);
  top: anchor(bottom);
  white-space: nowrap;
  text-align: left;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.25s var(--ease-out-quart),
    transform 0.25s var(--ease-out-back);
  pointer-events: none;
  transform: translateY(0.5rem) scale(0.9);
  transform-origin: top center;

  &.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0) scale(1);
  }
}
