.inlineCode {
  background-color: var(--color-grayscale-200);
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-grayscale-300);
  color: var(--color-text-accent);
  display: inline-block;
  font-family: var(--font-sans-mono);
  font-size: 0.85em;
  line-height: 1.2;
  margin: 0;
  padding-block: 0.125em;
  padding-inline: 0.25em;
}
