.inlineCode {
  border-radius: var(--radius-sm);
  background-color: var(--color-primary-100);
  color: var(--color-primary-900);
  display: inline-block;
  font-family: var(--font-sans-mono);
  font-size: 0.85em;
  line-height: 1.2;
  margin: 0;
  padding-block: 0.125em;
  padding-inline: 0.25em;
}
