.subhead {
  font-size: var(--font-size-lg);
  line-height: 1.6;
  font-weight: 300;
  text-wrap: balance;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: var(--grid-gap);
}

.heading {
  text-align: center;
}

.header {
  margin-bottom: var(--page-section-gap-small);
}
