:root {
  /* Type scale variables (1.25 ratio) */
  /* 11.25px */
  --font-size-2xs: 0.7rem;
  /* 12.8px */
  --font-size-xs: 0.8rem;
  /* 14px */
  --font-size-sm: 0.875rem;
  /* 16px */
  --font-size-base: 1rem;
  /* 20px */
  --font-size-md: 1.25rem;
  /* 25px */
  --font-size-lg: 1.563rem;
  /* 31.25px */
  --font-size-xl: 1.953rem;
  /* 39.06px */
  --font-size-2xl: 2.441rem;
  /* 48.83px */
  --font-size-3xl: 3.052rem;
  /* 61.04px */
  --font-size-4xl: 3.815rem;
  /* 76.29px */
  --font-size-5xl: 4.768rem;
  /* 95.37px */
  --font-size-6xl: 5.96rem;

  --color-white: #fff;

  --color-grayscale-100: hsl(264, 8%, 97%);
  --color-grayscale-200: hsl(264, 8%, 95%);
  --color-grayscale-300: hsl(264, 8%, 90%);
  --color-grayscale-400: hsl(264, 8%, 85%);
  --color-grayscale-500: hsl(264, 8%, 80%);
  --color-grayscale-600: hsl(264, 8%, 75%);
  --color-grayscale-700: color(display-p3 0.49 0.5 0.52);
  --color-grayscale-900: #1a1a1a;

  --color-primary-100: #e3f1f1;
  --color-primary-200: hsl(171deg 59.29% 87%);
  --color-primary-300: hsl(152, 74%, 67%);
  --color-primary-400: hsl(171, 70%, 38%);
  --color-primary-500: hsl(180, 100%, 25%);
  --color-primary-600: hsl(180, 100%, 19%);
  --color-primary-800: hsl(194, 93%, 17%);
  --color-primary-900: hsl(195, 100%, 16%);

  --color-teal-100: hsl(217, 87%, 94%);
  --color-teal-200: hsl(216, 77%, 90%);
  --color-teal-300: hsl(216, 73%, 86%);
  --color-teal-500: hsl(190, 45%, 47%); /* Logo Color */
  --color-teal-600: hsl(204, 31%, 27%);
  --color-teal-700: hsl(205, 71%, 17%);
  --color-teal-900: hsl(205deg 96% 10%);

  --color-purple-700: hsla(230, 35%, 37%);

  --gradient-1: linear-gradient(125deg, #034255 6.45%, #6ce6ad 94.19%);
  --gradient-2: linear-gradient(125deg, #3f0f5e 6.45%, #aa78de 94.19%);

  --color-yellow-100: hsl(49, 88%, 94%);
  --color-yellow-200: hsl(52, 95%, 86%);
  --color-yellow-300: lch(92.84 60.38 96.63 / 1);
  --color-yellow-500: hsl(53, 92%, 59%);
  --color-yellow-600: hsl(53, 76%, 54%);

  --color-blue-100: hsl(226deg 100% 97%);
  --color-blue-200: hsl(226deg 100% 94%);
  --color-blue-300: hsl(226deg 100% 91%);
  --color-blue-500: hsl(226deg 100% 59%);

  --button-background-color: var(--color-yellow-500);
  --button-ghost-background-hover-color: var(--color-grayscale-100);
  --button-ghost-background-active-color: var(--color-grayscale-200);

  --z-index-navigation: 100;
  --z-index-tooltip: 1000;

  --ease-out-quart: cubic-bezier(0.25, 0.1, 0.25, 1);
  --ease-out-back: cubic-bezier(0.34, 1.25, 0.64, 1);
  --ease-out-spring: cubic-bezier(0.69, 0, 0.26, 1);

  /* Border radius scale */
  --radius-xs: 0.125rem; /* 2px */
  --radius-sm: 0.25rem; /* 4px */
  --radius-base: 0.5rem; /* 8px */
  --radius-lg: 1rem; /* 16px */
  --radius-xl: 3rem; /* 48px */
  --radius-full: 9999px; /* For fully rounded elements */

  @media (min-width: 1280px) {
    --radius-xl: 4rem; /* 64px */
  }

  --color-scrollbar-thumb: var(--color-grayscale-500);
  --color-scrollbar-track: var(--color-grayscale-100);
  --color-track: var(--color-grayscale-100);
  --color-selection: var(--color-primary-200);
  --color-black: var(--color-grayscale-900);
  --color-border: var(--color-grayscale-300);
  --color-text: var(--color-grayscale-900);
  --color-text-white: var(--color-white);
  --color-text-white-muted: color-mix(
    in display-p3,
    var(--color-white) 75%,
    transparent
  );
  --color-text-muted: var(--color-grayscale-700);
  --color-text-link: var(--color-primary-600);
  --color-text-accent: var(--color-primary-600);
  --color-accent: var(--color-primary-500);
  --color-outline: var(--color-primary-500);

  --scroll-margin-top: 20dvh;

  @media (min-width: 2400px) {
    --scroll-margin-top: 25dvh;
  }

  --button-large-height: 3.5rem;
  --button-small-height: 2.75rem;

  --max-width: 1680px;
  --grid-gap-base: 2rem;
  --grid-gap-sm: 1rem;

  @media (min-width: 2400px) {
    --grid-gap-base: 3rem;
  }

  --navbar-top: 2rem;
  --page-section-gap-base: 4rem;
  --page-section-gap-small: 2rem;
  --page-padding-y: 4rem;
  --page-padding-inline: 2rem;
  --icon-size-base: 0.75rem;

  @media (min-width: 1280px) {
    --page-section-gap-base: 8rem;
    --page-section-gap-small: 4rem;
    --page-padding-y: 8rem;
    --page-padding-inline: 5dvw;
    --icon-size-base: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
  color: var(--color-text);
}

*::selection {
  color: var(--color-text);
  background-color: var(--color-selection);
}
