:root {
  /* Type scale variables (1.25 ratio) */
  /* 10.24px */
  --font-size-2xs: 0.64rem;
  /* 12.8px */
  --font-size-xs: 0.8rem;
  /* 14px */
  --font-size-sm: 0.875rem;
  /* 16px */
  --font-size-base: 1rem;
  /* 20px */
  --font-size-md: 1.25rem;
  /* 25px */
  --font-size-lg: 1.563rem;
  /* 31.25px */
  --font-size-xl: 1.953rem;
  /* 39.06px */
  --font-size-2xl: 2.441rem;
  /* 48.83px */
  --font-size-3xl: 3.052rem;
  /* 61.04px */
  --font-size-4xl: 3.815rem;
  /* 76.29px */
  --font-size-5xl: 4.768rem;
  /* 95.37px */
  --font-size-6xl: 5.96rem;

  --color-green: #418aa7;
  --color-white: #fff;

  --color-grayscale-100: color(display-p3 0.95 0.96 0.98);
  --color-grayscale-200: color(display-p3 0.87 0.88 0.9);
  --color-grayscale-500: color(display-p3 0.69 0.7 0.73);
  --color-grayscale-700: color(display-p3 0.49 0.5 0.52);
  /* Blue-Teal palette */

  --color-blueteal-500: color(display-p3 0.376 0.549 0.573); /* Base color */

  --color-darknight-500: color(display-p3 0.4 0.84 0.85);
  --color-darknight-800: #012036;
  --color-darknight-900: color(display-p3 0.01 0.1 0.18);
  --color-darknight-950: color(display-p3 0.01 0.1 0.15);

  --color-primary-100: color(display-p3 0.7 0.97 0.91);
  --color-primary-500: #008080;

  --color-yellow-400: color-mix(
    in display-p3,
    var(--color-yellow-500) 90%,
    var(--color-white)
  );
  --color-yellow-500: color(display-p3 0.965 0.882 0.204); /* #F7E135; */
  --color-yellow-600: color(display-p3 0.93 0.85 0.2);
  --color-yellow-700: color(display-p3 0.89 0.82 0.2);

  --color-light-blue-100: color(display-p3 0.87 1 1);
  --color-light-blue-200: color(display-p3 0.78 0.98 0.98);

  --color-scrollbar-thumb: var(--color-grayscale-500);
  --color-scrollbar-track: var(--color-grayscale-100);
  --color-track: var(--color-grayscale-100);

  --card-background-color: var(--color-grayscale-100);

  --button-background-color: var(--color-yellow-500);
  --button-ghost-background-hover-color: var(--color-grayscale-100);
  --button-ghost-background-active-color: var(--color-grayscale-200);

  --z-index-header: 100;

  --ease-out-quart: cubic-bezier(0.25, 0.1, 0.25, 1);
  --ease-out-back: cubic-bezier(0.34, 1.25, 0.64, 1);
  --ease-out-spring: cubic-bezier(0.69, 0, 0.26, 1);

  /* Border radius scale */
  --radius-sm: 0.25rem; /* 4px */
  --radius-base: 0.5rem; /* 8px */
  --radius-lg: 1rem; /* 16px */
  --radius-full: 9999px; /* For fully rounded elements */

  --color-black: var(--color-darknight-900);

  --color-border: var(--color-grayscale-200);

  --color-text-black: var(--color-darknight-900);
  --color-text-white: var(--color-white);
  --color-text-white-muted: color-mix(
    in display-p3,
    var(--color-white) 50%,
    transparent
  );
  --color-text-muted: var(--color-grayscale-700);
  --color-text-link: var(--color-primary-500);
  --color-text-link-dark-mode: var(--color-darknight-500);
  --color-accent-dark-mode: var(--color-darknight-500);

  --color-outline: var(--color-primary-500);

  --gradient-accent-dark-mode: linear-gradient(
    to bottom,
    var(--color-accent-dark-mode),
    color(display-p3 0.22 0.52 0.53)
  );

  --scroll-margin-top: 12rem;

  --button-large-height: 2.75rem;
  --button-small-height: 2.75rem;

  --max-width: 1680px;
  --grid-gap: 2rem;
  --navbar-top: 2rem;
  --page-section-gap-base: 8rem;
  --page-section-gap-small: 4rem;
  --page-padding-y: 8rem;
  --page-padding-inline: 1rem;

  @media (min-width: 1280px) {
    --page-padding-inline: 5dvw;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
}
