.root {
  --circle-size: 1rem;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s var(--ease-out-back);

  .root:not(:first-of-type)[data-position="below"] & {
    transform: translateY(20rem);
  }
}

.after {
  margin-top: calc(var(--circle-size) / -2);

  .root:last-of-type & {
    display: none;
  }
}

.before {
  margin-bottom: calc(var(--circle-size) / -2);
  z-index: 1;

  .root:first-of-type & {
    display: none;
  }
}

.circle {
  display: block;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: var(--radius-full);
  background-color: var(--color-blue-700);
  flex-shrink: 0;
  border: 2px solid var(--color-blue-100);
}

.icon {
  width: 12rem;
  height: 12rem;
  --color-blob: var(--color-primary-200);
  --color-stroke-1: var(--color-white);

  svg {
    width: 100%;
    height: 100%;
  }
}

.title {
  font-size: var(--font-size-base);
  font-weight: 500;
  white-space: nowrap;

  @media (min-width: 2400px) {
    font-size: var(--font-size-lg);
  }
}

.contentInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-sm);
  gap: 1em;
}

.card {
  background-image: var(--gradient-1);
  color: var(--color-white);
  border-radius: var(--radius-lg);
  padding-top: 1rem;
  padding-inline: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  background: #003e53;
}

.mask {
  overflow: clip;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
