.globeCard {
  display: flex;
  width: fit-content;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background-color: color-mix(in hsl, var(--color-purple-700), transparent 75%);
  backdrop-filter: blur(20px);
  color: var(--color-white);
  border-radius: var(--radius-lg);
  width: 18rem;
  cursor: pointer;
  transition: transform 0.5s var(--ease-out-back);
  text-decoration: none;
  position: relative;
  outline: none;
  flex-shrink: 0;
  border: 1px solid color-mix(in hsl, var(--color-white), transparent 85%);
  color: var(--color-white);

  &.isActive {
    background-color: color-mix(in hsl, var(--color-white), transparent 75%);
  }

  &:hover,
  &:focus-visible {
    transform: scale(1.075);
    transition-duration: 0.2s;
  }
}

.outline {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: inherit;
  background-color: transparent;
  outline: 2px solid var(--color-outline);
  transition: opacity 0.5s var(--ease-out-back);
}

.globeCard:hover .outline,
.globeCard:focus-visible .outline {
  opacity: 1;
  transition-duration: 0.2s;
}

.icon {
  color: var(--color-white);
  background-image: var(--gradient-1);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: var(--radius-full);
  padding: 0.5rem;
  flex-shrink: 0;

  .globeCard:not(.isActive) & {
    color: var(--color-white);
  }
}

.title {
  font-size: var(--font-size-base);
  font-weight: 550;
  text-wrap: pretty;
  letter-spacing: -0.01em;
  line-height: 1.2;

  @media (min-width: 1024px) {
    font-size: var(--font-size-lg);
  }
}

.description {
  font-size: var(--font-size-xs);
  text-wrap: pretty;
  line-height: 1.5;
  font-weight: 500;

  @media (min-width: 1024px) {
    font-size: var(--font-size-sm);
  }
}

.iconButton {
  margin-left: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.iconButtonScrollDown {
  margin-left: auto;
}

.buttonIconMask {
  margin-left: auto;
  border-radius: var(--radius-base);
  padding: 1rem;
  text-decoration: none;
  font-weight: 600;
  font-size: var(--font-size-base);
  white-space: nowrap;
  border: none;
  cursor: pointer;
  color: currentColor;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  overflow: clip;
  padding: 0.75rem;
  width: var(--button-small-height);
  height: var(--button-small-height);
  background-color: color-mix(in hsl, var(--color-white), transparent 75%);

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.buttonIconContainer {
  display: flex;
  transition: transform 0.5s var(--ease-out-back);

  .globeCard.isActive & {
    flex-direction: column;
  }
}

.buttonIcon {
  width: var(--button-large-height);
  height: var(--button-large-height);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonIcon:first-child {
  .globeCard:not(.isActive) & {
    margin-left: calc(var(--button-large-height) * -1);
  }

  .globeCard.isActive & {
    margin-top: calc(var(--button-large-height) * -1);
  }
}

.globeCard.isActive:hover .buttonIconContainer,
.globeCard.isActive:focus-visible .buttonIconContainer {
  transform: translateY(var(--button-large-height));
  transition-duration: 0.2s;
}

.globeCard:not(.isActive):hover .buttonIconContainer,
.globeCard:not(.isActive):focus-visible .buttonIconContainer {
  transform: translateX(var(--button-large-height));
  transition-duration: 0.2s;
}
