.page {
  min-height: 100dvh;
  font-family: var(--font-inter);
  background-color: var(--color-teal-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inView {
  width: 100%;
  display: block;
  height: 4px;
  background: red;
}
