.button {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 550;
  font-size: var(--font-size-sm);
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  appearance: none;
  border: none;

  &.active {
    cursor: unset;
  }

  &:hover:not(.active) {
    background-color: var(--color-grayscale-100);
  }

  &:active:not(.active) {
    background-color: var(--color-grayscale-200);
  }

  &:focus-visible {
    outline: 2px solid var(--color-outline);
    outline-offset: -2px;
  }
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  opacity: 0;
  color: var(--color-primary-500);

  .active & {
    opacity: 1;
  }
}

.input {
  display: none;
}
