.item {
  list-style: none;
}

.button {
  align-items: center;
  color: currentColor;
  display: flex;
  font-size: var(--font-size-sm);
  font-weight: 550;
  line-height: 1.2;
  padding-block: 0.75rem;
  text-decoration: none;
  text-underline-offset: 0.2em;
  white-space: nowrap;
  border-left: 2px solid var(--color-grayscale-200);
  padding-left: 1rem;
  border-radius: 0;

  &.isActive {
    color: var(--color-text-accent);
    border-left-color: var(--color-accent);
    cursor: unset;
  }

  &:hover:not(.isActive) {
    background-color: var(--color-grayscale-100);
    border-left-color: var(--color-grayscale-500);
  }

  &:active:not(.isActive) {
    background-color: var(--button-ghost-background-active-color);
    border-left-color: var(--color-grayscale-600);
  }

  &:focus-visible {
    outline: 2px solid var(--color-outline);
    outline-offset: -2px;
  }
}

.label {
  transition: transform 0.2s var(--ease-out-back);

  .button:hover:not(.isActive) & {
    transform: translateX(0.375em);
  }
}
