.button {
  border-radius: var(--radius-full);
  text-decoration: none;
  font-weight: 600;
  font-size: var(--font-size-base);
  white-space: nowrap;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: var(--color-yellow-500);
  color: var(--color-black);

  &:hover {
    background-color: var(--color-yellow-600);
  }

  &:focus-visible {
    outline: 2px solid var(--color-yellow-500);
    outline-offset: 2px;
  }

  &:active {
    background-color: var(--color-yellow-700);
  }
}

.lg {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  height: var(--button-large-height);
  font-size: var(--font-size-base);
}

.sm {
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  height: var(--button-small-height);
  font-size: var(--font-size-sm);
}
