.container {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-base);
  overflow: clip;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-block: 0.25rem;
  padding-right: 0.5rem;
  background-color: var(--color-grayscale-100);
  border-bottom: 1px solid var(--color-border);
  align-items: center;
}

.language {
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-text-muted);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.code {
  font-size: var(--font-size-sm);
  line-height: 1.5;

  @media (min-width: 2400px) {
    font-size: var(--font-size-base);
  }

  pre {
    padding-block: 1rem;
    overflow-x: auto;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
    scrollbar-width: thin;
  }

  code {
    counter-reset: step;
    counter-increment: step calc(var(--start, 1) - 1);
  }

  code > span {
    position: relative;
    padding-right: 1rem;
  }

  code > span::before {
    content: counter(step);
    counter-increment: step;
    width: 3ch;
    text-align: right;
    left: 0;
    padding-left: 1ch;
    padding-right: 3ch;
    display: inline-block;
    text-align: right;
    color: var(--color-grayscale-600);
    position: sticky;
    left: 0;
    background-color: var(--color-white);
  }
}
