.container {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-base);
  overflow: clip;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-block: 0.125em;
  padding-right: 0.5em;
  background-color: var(--color-grayscale-100);
  border-bottom: 1px solid var(--color-border);
  align-items: center;
  font-size: var(--font-size-xs);

  @media (min-width: 1024px) {
    font-size: var(--font-size-sm);
  }
}

.language {
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-text-muted);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.icon {
  width: var(--icon-size-base);
  height: var(--icon-size-base);
}

.code {
  font-size: var(--font-size-xs);
  line-height: 1.6;

  @media (min-width: 1024px) {
    font-size: var(--font-size-sm);
  }

  @media (min-width: 2400px) {
    font-size: var(--font-size-base);
  }

  span {
    &[data-tooltip-title] {
      transition: margin-inline 0.2s var(--ease-out-back),
        transform 0.2s var(--ease-out-back);
      display: inline-flex;
      margin-inline: 0.25em;
      transform-origin: center;
      position: relative;
      background-color: var(--color-primary-100);
      color: var(--color-primary-900);
      border-radius: var(--radius-sm);
      margin-block: 0.1em;
      padding-inline: 0.125em;

      &:hover,
      &:focus-visible {
        background-color: var(--color-primary-200);
      }

      &:focus-visible {
        outline: 2px solid var(--color-outline);
        outline-offset: 2px;
      }

      &:before {
        content: "";
        position: fixed;
        width: 0;
        height: 0;
        border-style: solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-top: 6px solid var(--color-teal-600);
        border-bottom: 0;
        transform: translate(-50%, calc(-50% - 0.75rem));
        opacity: 0;
      }

      &:after {
        background-color: var(--color-white);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        color: var(--color-black);
        content: attr(data-tooltip-title);
        font-family: var(--font-inter);
        font-size: var(--font-size-sm);
        font-weight: 500;
        opacity: 0;
        padding: 0.5em 1em;
        position: fixed;
        width: max-content;
        z-index: 2;
        transform: translate(-50%, calc(-50% - 2rem));
        border-radius: var(--radius-sm);
        background-color: var(--color-teal-600);
        color: var(--color-white);
        position: fixed;
      }

      &:hover:before,
      &:hover:after,
      &:focus-visible:before,
      &:focus-visible:after {
        opacity: 1;
      }
    }
  }

  pre {
    padding-block: 1em;
    overflow-x: auto;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
    scrollbar-width: thin;
    border-bottom-left-radius: var(--radius-base);
    border-bottom-right-radius: var(--radius-base);

    &:focus-visible {
      outline: 2px solid var(--color-outline);
      outline-offset: -2px;
    }
  }

  code {
    counter-reset: step;
    counter-increment: step calc(var(--start, 1) - 1);
  }

  code > span {
    position: relative;
    padding-right: 1rem;
  }

  code > span::before {
    content: counter(step);
    counter-increment: step;
    width: 3ch;
    text-align: right;
    left: 2px;
    padding-left: 1ch;
    padding-right: 3ch;
    display: inline-block;
    text-align: right;
    color: var(--color-grayscale-600);
    position: sticky;
    background-color: var(--color-white);
  }
}
