.timeline {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--scroll-margin-top);
  padding-bottom: 8rem;
  align-items: center;
  gap: 4px;
}

.divider {
  width: 2px;
  height: 2rem;
  background-color: var(--color-white);
  opacity: 0.2;
}
