.root {
  display: grid;
}

.lineContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timelineContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.timeline {
  list-style: none;
  display: flex;
  flex-direction: column;
  --timeline-gap: 4rem;
  gap: var(--timeline-gap);
}

.line {
  height: calc(100% - 8px);
  background-color: var(--color-blue-900);
  opacity: 0.3;
  width: 2px;
}
