.indexContainer {
  display: none;
  height: 100%;
  padding-block: var(--page-section-gap-base);
  border-bottom-left-radius: var(--radius-xl);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  border-bottom-right-radius: var(--radius-lg);

  @media (min-width: 768px) {
    display: block;
    grid-column: span 3;
  }

  @media (min-width: 1024px) {
    grid-column: 1/5;
  }
}

.index {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--scroll-margin-top);
  gap: 1rem;
}

.timeline {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap-sm);
  grid-column: span 12;

  @media (min-width: 768px) {
    grid-column: span 9;
  }

  @media (min-width: 1024px) {
    grid-column: 5/13;
  }
}

.icon {
  width: 100%;
  height: 100%;
}
