.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --color: var(--color-grayscale-200);

  &.small {
    --size: 0.5rem;
  }

  &.large {
    --size: 0.75rem;
  }
}

.divider {
  width: 2px;
  height: 100%;
  background-color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid var(--color);
  z-index: 1;
  width: var(--size);
  height: var(--size);
}

.before {
  margin-top: calc(var(--size) * -0.5);
}

.after {
  margin-bottom: calc(var(--size) * -0.5);
}

.triangle {
  width: calc(var(--size) * 1);
  height: calc(var(--size) * 1);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  background-color: var(--color);
}
